---
name: "Features - Release"
on:
  workflow_dispatch:
  push:
    branches:
      - master
permissions:
  contents: read
jobs:
  run-tests:
    uses: ./.github/workflows/test.yaml
    secrets: inherit
  deploy:
    permissions:
      contents: write
      pull-requests: write
      packages: write
    if: ${{ github.ref == 'refs/heads/master' }}
    needs: [run-tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # pin@v3

      - name: "Publish features"
        uses: devcontainers/action@1082abd5d2bf3a11abccba70eef98df068277772 # pin@v1
        with:
          publish-features: "true"
          base-path-to-features: "./src"
          generate-docs: "true"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
